@charset "UTF-8";

/*
    Paleta de cores
    Azul escuro: #002D4E
    Cinza: #BAD0D9
    Preto: #071A26 #001222
    cinza: #616872
*/
:root{
--cor-principal: #002D4E;
--cor-secundaria:#BAD0D9;
--cor-terciaria:#071A26;
--cor-quartenaria:#001222;
--cor-quintenaria:#616872;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor-principal) ;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--cor-secundaria);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.552);
    
}

section#login > div#imagem{
    background: var(--cor-principal) url(../Imagens/pexels-mel-gomes-290426165-13183160\ \(1\).jpg);
    height: 200px;
    background-size: cover;
    display: block;
}

section#login > formulario{
    padding: 10px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    color: var(--cor-principal);
}
div#formulario > p{
    padding-left: 5px;
    color: var(--cor-principal);
}
#iLogin, #iSenha, span.material-symbols-outlined{
    border-radius: 03px;
    border: none;
    height: 25px;
    padding-left: 15px;
    font-size: 0.9;
}

form > div > input[type=submit]{
    display: block;
    width: 100%;
    font-size: 1em;
    height: 30px;
    margin-top: 10px;
    background-color: #5caf35;
    color: white;
    border: none;
    border-radius: 5px;
}
form > div > input[type=submit]:hover{
    background-color: #3e7424 ;
    cursor: pointer;
}

a.botao{
    display: block;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    height: 30px;
    text-decoration: none;
    margin-top: 02px;
    color: var(--cor-principal);
}

a.botao:hover{
    text-decoration: underline;
}

div.campo{
    color: var(--cor-principal);
    height: 40px;
}
i.material-symbols-outlined{
    font-size: 15px;
}

span.material-symbols-outlined{
    font-size: 20px;
}
div.campo > label{
    display: none;
}
